@use 'variables'as v;
@use 'mixins'as m;
@use "sass:color";
@use 'placeholder';


.contacts_section {
    background-color: color.adjust(v.$color_white, $alpha: -0.80);
    box-shadow: 0 -5px 20px rgba(0, 0, 0, .15);

    .footer {  
        width: 100%;
        height: 130px;
        margin: 0 auto;
        padding: 0 15px;
        @include m.d-flex(space-between, center, nowrap, row, 0, 0);

        &_terms {
            @include m.d-flex(start, start, nowrap, column, 0, 15px);
        
            &-links {
            @include m.d-flex(start, center, nowrap, row, 30px, 0);
            @include m.font(20px, 200, v.$color_white);
            }
            &_link {
                @extend %hover_dark;
            }
            &_rights {
                @include m.font(15px, 200, v.$color_dark);
            }
        }
        &_contacts {
            @include m.d-flex(space-between, center, nowrap, row, 30px, 0);

            &-icon {
                &:hover {
                    background: v.$color_white;
                    border-radius: 10px;
                    cursor: pointer;
                }
            }
        }
    }
}