@use 'variables'as v;
@use 'mixins'as m;


.experience {
    padding: 150px;
    margin: 0 auto;
    @include m.d-flex(start, center, nowrap, column, 0, 90px);
    text-align: center;
    &_title {
        @include m.font(60px, 400, v.$color_white);

        @media(max-width: v.$media_sm) {
            @include m.font(40px, 400, v.$color_white);
        }
    }
    &_cards_wrapper {
    @include m.d-flex(space-around, center, wrap, row, 20px, 55px);
    width: 100%;
    padding: 15px;
    }
}
