@use 'variables'as v;
@use 'mixins'as m;
@use "sass:color";

%input-template {
    width: 80%;
    height: 40px;
    border-radius: 20px;
    border: 1px solid v.$color_hover_dark;
    padding: 0 1em;
    @include m.font(20px, 400, v.$color_dark);

    &::placeholder {
    @include m.font(15px, 100, v.$color_grey);

    }

}

.form_section {
    padding: 150px 0;
    position: relative;
    overflow: hidden;

    &_wrapper {
        width: 100%;
        height: 350px;
        margin: 0 auto;
        @include m.d-flex(center, center, nowrap, row, 0, 0);
    }
}
.form {
    width: min(625px, 100%);
    @include m.d-flex(center, center, nowrap, column, 0, 25px);

    &_title {
        @include m.font(35px, 400, v.$color_dark);
    }

    &_name,
    &_email,
    &_text {
        @extend %input-template;
    }

    &_submit_btn {
        width: 80%;
        height: 40px;
        background-color: v.$color_dark;
        border-radius: 20px;
        border: none;
        padding: 0 1em;
        @include m.font(20px, 400, v.$color_white);
        cursor: pointer;

        &:hover {
            opacity: .8;
        }
    }

}
.img_cloud {
    width: 1500px;
    height: 600px;
    @include m.position(absolute, -1, -1, top, 0, 0);
}