@use 'variables' as v;

%hover_dark {
    &:hover {
        cursor: pointer; 
        color: v.$color_hover_dark;

    }
}
%hover_light {
    &:hover {
    cursor: pointer;
    color: v.$color_white;
    }
    
}