@use 'variables'as v;
@use 'mixins'as m;
@use "sass:color";

%slider-button {
    width: 65px;
    height: 65px;
    border: none;
    border-radius: 20px;
    background-color: color.adjust(v.$color_blue, $alpha: -0.80);
    rotate: z 45deg;
}



.testimonials {
    padding: 80px 0 80px 0;
    margin: 0 auto;
    @include m.d-flex(start, center, nowrap, column, 0, 90px);

    &_title {
        @include m.font(60px, 400, v.$color_white);
    }
}
