@use 'variables'as v;
@use 'mixins'as m;
@use "sass:color";


%slider-button {
    width: 65px;
    height: 65px;
    border: none;
    border-radius: 20px;
    background-color: color.adjust(v.$color_white, $alpha: -0.80);
    rotate: z 45deg;
}

.testimonials {
    padding: 80px 0 80px 0;
    margin: 0 auto;
    @include m.d-flex(start, center, nowrap, column, 0, 90px);

    &_title {
        @include m.font(60px, 400, v.$color_white);
    }

    .slider {
        position: relative;
        height: 500px;

        &_left_btn_icon {
            @extend %slider-button;
            @include m.position(absolute, 1, -1, top, left, 100px, -100px);
            rotate: z 180deg;
        }

        &_right_btn_icon {
            @extend %slider-button;
            @include m.position(absolute, 1, -1, top, right, 100px, -100px);
            rotate: z 0deg;
        }

        &_right_btn_icon:hover,
        &_left_btn_icon:hover {
            cursor: pointer;
            background-color: color.adjust(v.$color_dark, $alpha: -0.80);
        }
    }

}