@use 'variables'as v;
@use 'mixins'as m;
@use "sass:color";

.work_section {
    padding: 100px 20px 150px;

    .work {
        margin: 0 auto;
        text-align: center;

        &_title {
            margin: 0 0 80px 0;
            @include m.font(60px, 400, v.$color_white);

            @media (max-width: v.$media_md) {
                display: none;
            }
        }
        &_cards_wrapper {
            margin: 0 auto;
            max-width: 950px;

            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            row-gap: 65px;
            place-items: center;


        @media (max-width: v.$media_md) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            row-gap: 65px;
            place-items: center;
        }
        }
    }
}