@use 'variables'as v;
@use 'mixins'as m;
@use 'placeholder';
@use "sass:color";

.header {
    width: 100%;
    height: 50px;
    background-color: color.adjust(v.$color_white, $alpha: -0.80);

    border: {
        bottom: {
            width: 1px;
            style: solid;
            color: v.$color_white;
        }
    }

    .nav {
        height: 50px;
        display: flex;
        @include m.d-flex(start, center);

        &_title {
            height: 100%;
            width: 255px;

            border-right: 1px solid v.$color_white;
            @include m.d-flex(center, center);

            &_link {
                font-size: 20px;
                font-weight: 500;
                color: v.$color_white;

                span {
                    font-weight: 700;
                }

                @extend %hover_dark;

            }

        }

        &_links {
            flex-grow: 1;

            .list {
                @include m.d-flex(center, center, nowrap, row, 100px, o);
                padding: 0 0 0 min(100px, 5vw);
                margin: 0 25px 0 0;

                &_item {
                    &_link {
                        font-size: 20px;
                        font-weight: 400;
                        color: v.$color_white;

                        @extend %hover_dark;

                    }
                }
            }

            @media (max-width: v.$media_lg) {
                .list {
                    @include m.d-flex(center, center, nowrap, row, 100px, o);
                    padding: 0 0 0 min(100px, 5vw);

                }
            }
        }

        .update {
            height: 100%;
            @include m.d-flex(center, center);
            padding: 0 50px;

            border: {
                left: 1px solid v.$color_white;
                right: 1px solid v.$color_white;
            }

            &_link {
                font-size: 20px;
                font-weight: 700;
                color: v.$color_white;
                @extend %hover_dark;
            }
        }

        .globe {
            @include m.d-flex(center, center);
            padding-left: 40px;
        }
    }
}